@import "functions";
@import "variables";
@import "mixins";


@include google-font("Alegreya+Sans");
@include google-font("Titillium+Web");
@include google-font("Raleway:800");
@include google-font("Cabin");
@include google-font("Scope+One");
@include google-font("Anton");
@include google-font("Doppio+One");
@include google-font("Open+Sans");
@include google-font("Roboto:300,100");

html {
	margin: 0;
	padding: 0;
}
body {
  margin: 0;
 } 


h1, h2, h3, h4, h5 {
	margin: 0;
}

li {
	list-style: none;
	text-decoration: none;
}	

.row {
	margin: 0;
}





